body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(80,255,73);
    background: linear-gradient(45deg, rgba(80,255,73,1) 0%, rgba(201,223,22,1) 54%, rgba(255,178,70,1) 86%); ;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

form{
    border: 5px solid rgb(126, 253, 101);
    border-radius: 5mm;
    background-color: white;
    opacity: 85%;
}

.logo2{
    display: none;
}

.formulario {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    box-shadow: 4px 4px 7px rgb(43, 255, 0);
}

.formulario .checkbox {
    font-weight: 400;

}

.formulario .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;;
}

.formulario input[type="email"] {
  margin-bottom: 10px;
}

.formulario input[type="password"] {
    margin-top: 10px;
}

.btn-danger{
    background-color: #8A3148;
    border-color: #8A3148;
    color: rgb(255, 254, 251);
}

a{
    color: white;
}

body a:hover{
    color: white;
    text-decoration: none;
    text-emphasis: none;
}

@media screen and (max-width: 480px) {
   
    .logo1{
        display: none;
    }

    .logo2{
        display: inline-block;
    }

   .btn-danger{
    background-color: #8A3148;
    border-color: #8A3148;
    color: rgb(255, 254, 251);
    }



}
