body{
  background: rgb(80,255,73);
  background: linear-gradient(45deg, rgba(80,255,73,1) 0%, rgba(201,223,22,1) 54%, rgba(255,178,70,1) 86%); ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

header{

  background: rgb(40,167,69);
  background: linear-gradient(38deg, rgba(40,167,69,1) 0%, rgba(40,167,69,1) 46%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 88%, rgba(253,217,3,1) 88%); 
    margin: auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100%;

}
  
  .img{
    margin-right: 5px;
  }
  
  header .menu-contenedor{
    padding: 7px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 32px;
      margin-right: 32px;
  
  }
  


 section{
     margin-top: 30px;
     margin-right: 50px;
     margin-left: 50px;
 }

 table{
     justify-content: center;
     background-color: white;
     opacity: 85%;
     justify-content: center;
     text-align: center;
    
     
 }

 table.table-bordered{
  border:1px solid #FDD903;
  margin-top:20px;
  opacity: 85%;
}
table.table-bordered > thead > tr > th{
  border:1px solid #FDD903;
  opacity: 85%;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #FDD903;
  opacity: 85%;
}

 thead{
     background-color: #28A745;
     color: white;
 }



 @media screen and (max-width: 480px) {
  
    header {
      flex-direction: column;
      justify-content: center;
    }
  
   
  
    header .menu-contenedor {
      flex-direction: column;
      margin: 0;
      text-align: center;
    }
  
   
  
    header .menu-contenedor a {
      margin: 0 0 0 0;
    }
  
   
  
    header .logo-contenedor {
      margin-left: 0;
    }
  
   
  
    header img{
      display: none;
    }
  
   
  
    .contenedor{
      margin-left: 0;
    }
  
   
  
  }