body{
  background: rgb(80,255,73);
  background: linear-gradient(45deg, rgba(80,255,73,1) 0%, rgba(201,223,22,1) 54%, rgba(255,178,70,1) 86%); ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

header{

  background: rgb(40,167,69);
  background: linear-gradient(38deg, rgba(40,167,69,1) 0%, rgba(40,167,69,1) 46%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 88%, rgba(253,217,3,1) 88%); 
    margin: auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100%;

}

.img{
  margin-right: 5px;
}

header .menu-contenedor{
  padding: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;

}

header .menu-contenedor a{

    font-size: 17px;
    line-height: 50px;
    padding: 7px 9px;
    text-decoration: none;
    color: #000000;

}

header a:hover{
    color: #266331;
    text-decoration: none;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

}

.contenedor-form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
    background-color: white;
    opacity: 80%;
    border-radius: 3mm;
    padding: 10px 30px 10px 30px;
}

.contenedor-form button{
    width: 250px;
    display: inline-block;
}




@media screen and (max-width: 480px) {
  
    header {
      flex-direction: column;
      justify-content: center;
    }

    .gold{
      text-align: center;
    }
  
   .imggold{
     width: 318px;
     height: 200px;
   }

   .canva{
    width: 318px;
    height: 250px;
   }
  
    header .menu-contenedor {
      flex-direction: column;
      margin: 0;
      text-align: center;
    }
  
   
  
    header .menu-contenedor a {
      margin: 0 0 0 0;
    }
  
   
  
    header .logo-contenedor {
      margin-left: 0;
    }
  
   
  
    header img{
      display: none;
    }
  
   
  
    .contenedor{
      margin-left: 0;
    }
  
   
  
  
  }